/* style.css */
.root .btn-start,
.btn-start {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 18px;
    -fx-font-family: "Arial";
    -fx-padding: 12 40 12 40;
    -fx-border-color: white;
    -fx-border-width: 2;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-cursor: hand;
    -fx-alignment: center;
    -fx-text-alignment: center;
}

.btn-start:hover {
    -fx-background-color: white;
    -fx-text-fill: #c0392b;
    -fx-border-color: #c0392b;
}

.btn-start:pressed {
    -fx-background-color: #922b21;
    -fx-text-fill: white;
}

.btn-exit {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-family: "Arial";
    -fx-padding: 8 30 8 30;
    -fx-border-color: white;
    -fx-border-width: 1;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-cursor: hand;
    -fx-alignment: center;
    -fx-text-alignment: center;
}


.btn-playgame{
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-font-size: 18px;
    -fx-font-family: "Press Start 2P";
    -fx-padding: 12 40 12 40;
    -fx-border-width: 2;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-cursor: hand;
}
.btn-playgame:hover{
    -fx-background-color: #cc3333;
    -fx-text-fill: #ffffff;
}

.btn-profile{
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-font-size: 18px;
    -fx-font-family: "Press Start 2P";
    -fx-padding: 12 40 12 40;
    -fx-border-width: 2;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-cursor: hand;
}
.btn-profile:hover{
    -fx-background-color: #cc3333;
    -fx-text-fill: #ffffff;
}

.btn-inventory{
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-font-size: 18px;
    -fx-font-family: "Press Start 2P";
    -fx-padding: 12 40 12 40;
    -fx-border-width: 2;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-cursor: hand;
}
.btn-inventory:hover{
    -fx-background-color: #cc3333;
    -fx-text-fill: #ffffff;
}

.btn-exitlobby {
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-font-size: 18px;
    -fx-font-family: "Press Start 2P";
    -fx-padding: 12 40 12 40;
    -fx-border-width: 2;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-cursor: hand;
}
.btn-exitlobby:hover{
    -fx-background-color: #cc3333;
    -fx-text-fill: #ffffff;
}
.btn-memilihdraven{

}
.btn-memilihlyra{

}
.btn-memilihkaelion{
    
}
.btn-exit:hover {
    -fx-background-color: rgba(255,255,255,0.2);
}